<form class="example-form" [formGroup]="form">
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" placeholder="nombre">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Edad</mat-label>
        <input matInput formControlName="age" placeholder="edad">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Genero</mat-label>
        <input matInput formControlName="sex" placeholder="genero">
    </mat-form-field>
    <br>
    <label for="singleFile">Upload file</label>
    <input id="singleFile" type="file" formControlName="documento" />
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">cancelar</button>
        <button mat-button class="width-button" (click)="create()" cdkFocusInitial *ngIf="form.valid">
            <span class="material-icons">edit</span> submit
        </button>
        <button mat-button class="width-button" disabled cdkFocusInitial *ngIf="!form.valid">
            <span class="material-icons">disabled_by_default</span> submit
        </button>
    </div>
</form>
<mat-list *ngIf="name != ''">
    <mat-list-item>{{ name }} </mat-list-item>
    <mat-list-item>{{ age }} </mat-list-item>
    <mat-list-item>{{ sex }} </mat-list-item>
    <mat-list-item>{{ documento }} </mat-list-item>
            <button mat-button class="width-button" (click)="clear()">
                <span class="material-icons">garbage</span> limpiar
            </button>
</mat-list>