<mat-toolbar color="accent">
    <span style="padding-left: 10%; padding-top: 3%;">Test API</span>
    <span class="example-spacer"></span>

</mat-toolbar>

<button mat-button (click)="openDialog()" style="padding-left: 75%;">Insertar nuevo dato</button>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element">
            {{element.name}}
        </td>
    </ng-container>

    <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Edad </th>
        <td mat-cell *matCellDef="let element">
            {{element.num}}
        </td>
    </ng-container>

    <ng-container matColumnDef="sex">
        <th mat-header-cell *matHeaderCellDef> Genero </th>
        <td mat-cell *matCellDef="let element">
            {{element.sex}}
        </td>
    </ng-container>

    <ng-container matColumnDef="documento">
        <th mat-header-cell *matHeaderCellDef> Documento </th>
        <td mat-cell *matCellDef="let element">

        </td>
    </ng-container>
    <!-- end_task Column -->
    <ng-container matColumnDef="limit">
        <th mat-header-cell *matHeaderCellDef> % Estatus </th>
        <td mat-cell *matCellDef="let element">
            <div *ngIf="element.diff_percentage <= 74">
                <mat-progress-bar mode="determinate" color="accent" value="{{element.diff_percentage}}">
                </mat-progress-bar>{{element.diff_percentage}}%
            </div>
            <div *ngIf="element.diff_percentage >= 75">
                <mat-progress-bar mode="determinate" color="warn" value="{{element.diff_percentage}}">
                </mat-progress-bar>{{element.diff_percentage}}%
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>